/* Lighttheme */
:root {
    --light-main-color: #1E90FF; /* Diepblauw */
    --light-bg-color1: #CCCCCC; /* Lichtgrijs */
    --light-bg-color2: #C0C0C0; /* Zilver */
    --light-bg-color3: #87CEEB; /* Hemelsblauw */
    --light-bg-color4: #40E0D0; /* Turquoise */
}
  
/* Darktheme */
:root {
    --dark-main-color: #800080; /* Diep paars */
    --dark-bg-color1: #505050; /* Donkergrijs */
    --dark-bg-color2: #848482; /* Zilvergrijs */
    --dark-bg-color3: #FF00FF; /* Magenta */
    --dark-bg-color4: #4B0082; /* Indigo */
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
  
.lightThemeBody {
    background-color: var(--light-bg-color1);
}

.darkThemeBody {
    background-color: var(--dark-bg-color1);
    color: whitesmoke;
}

.lightThemeHeader {
    background-color: var(--light-main-color);
}

.darkThemeHeader {
    background-color: var(--dark-main-color);
}

header {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 20rem 1fr 30rem;
}

#logo > h1 {
    line-height: 46px;
    letter-spacing: -1px;
}

#logo {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.darkThemeSvg {
    fill: whitesmoke;
}

#optionsDiv {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    justify-items: end;
    column-gap: 1rem;
}

button {
    font-weight: 500;
    letter-spacing: -0.5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#optionsDiv > button {
    min-width: 9rem;
    padding: 10px 20px;
}

button:hover {
    transform: translateY(-0.6px);
    box-shadow: 2px 4px 10px 0 rgb(0, 0, 0, 0.3);
}

#addBookBtn {
    justify-self: start;
    transition: transform 500ms;
}

#addBookBtn:hover {
    cursor: pointer;
}

.addBtnAnimation {
    transform: rotate(-45deg);
}

.lightThemeBtn {
    background-color: var(--light-bg-color3);
}

.lightThemeBtn:hover {
    background-color: var(--light-bg-color4);
}

.darkThemeBtn {
    background-color: var(--dark-bg-color3);
    color: whitesmoke;
    font-weight: 700;
}

.darkThemeBtn:hover {
    background-color: var(--dark-bg-color4);
}

#main {
    box-shadow: inset 0 2px 10px rgb(0, 0, 0, 0.3);
    display: flex;
}

#cardTable {
    padding: 3rem 4rem;
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(auto-fill, 14rem);
    grid-template-columns: repeat(auto-fill, 25rem);
}

.sideBar {
    transition: opacity 400ms linear;
    display: block;
    flex-shrink: 1;
}

.hideSideBar {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}

.sideBarLightTheme {
    background-color: var(--light-bg-color2);
}

.sideBarDarkTheme {
    background-color: #404040;
}
/* start form ------------*/
#form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

.status-group {
    display: flex;
    flex-direction: column;
}

.status-options {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input[type="text"] {
    width: 95%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 4px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--dark-bg-color2);
}
/* end form ---------*/

.bookCard {
    width: 20rem;
    height: 10rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1.5rem 1fr 1fr 0.6fr;
    justify-items: start;
}

.bookCard > h2 {
    margin: 0;
}

.bookCard > :nth-child(2) {
    margin-top: 0.3rem;
    grid-row: 2 / 3;
}

.bookCard > :nth-child(3) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size: 0.8rem;
}

.bookCard > :nth-child(4) {
    grid-row: 2 / 3;
    font-size: 0.8rem;
}

.bookCard > :nth-child(5) {
    height: 2rem;
    align-self: end;
}

.bookCard > :nth-child(6) {
    align-self: end;
    margin:0;
    padding-top: 0.5rem;
    border-top: 1px solid black;
    grid-column: 1 / 3;
    width: 100%;
}

.bookCard:hover {
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.4);
    transform: translateY(-0.6px);
    transform: scale(1.005);
}

.lightThemeCard {
    background-color: var(--light-main-color);
    border: 4px solid var(--light-bg-color3);
}

.darkThemeCard {
    background-color: var(--dark-main-color);
    border: 4px solid var(--dark-bg-color3);
}

#cardDeleteBtn {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem; 
    cursor: pointer;
    justify-self: end;
}

footer {
    display: grid;
    justify-items: center;
    padding: auto 0;
}

footer > #credits {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.2rem;
}

#credits > p {
    margin: 0.5rem auto;
}









/* 
Voor het lichte thema (diepblauw):

Diepblauw: #1E90FF (hoofdkleur)
Lichtgrijs: #CCCCCC
Hemelsblauw: #87CEEB
Zilver: #C0C0C0
Turquoise: #40E0D0
Voor het donkere thema (diep paars):

Diep paars: #800080 (hoofdkleur)
Donkergrijs: #505050
Magenta: #FF00FF
Zilvergrijs: #848482
Indigo: #4B0082
*/