/* Lighttheme */
:root {
    --light-main-color: #1E90FF; /* Diepblauw */
    --light-bg-color1: #CCCCCC; /* Lichtgrijs */
    --light-bg-color2: #C0C0C0; /* Zilver */
    --light-bg-color3: #87CEEB; /* Hemelsblauw */
    --light-bg-color4: #40E0D0; /* Turquoise */
}
  
/* Darktheme */
:root {
    --dark-main-color: #800080; /* Diep paars */
    --dark-bg-color1: #505050; /* Donkergrijs */
    --dark-bg-color2: #848482; /* Zilvergrijs */
    --dark-bg-color3: #FF00FF; /* Magenta */
    --dark-bg-color4: #4B0082; /* Indigo */
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
  
.lightThemeBody {
    background-color: var(--light-bg-color1);
}

.darkThemeBody {
    background-color: var(--dark-bg-color1);
    color: whitesmoke;
}

.lightThemeHeader {
    background-color: var(--light-main-color);
}

.darkThemeHeader {
    background-color: var(--dark-main-color);
}

header {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 20rem 1fr 30rem;
}

#logo > h1 {
    line-height: 46px;
    letter-spacing: -1px;
}

#logo {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.darkThemeSvg {
    fill: whitesmoke;
}

#optionsDiv {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    justify-items: end;
}

button {
    width: 100px;
    height: 40px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    letter-spacing: -0.5px;
}

button:hover {
    cursor: pointer;
    transform: translateY(-0.6px);
    box-shadow: 2px 4px 10px 0 rgb(0, 0, 0, 0.3);
}

#addBookBtn{
    justify-self: start;
    transition: transform 500ms;
}

#addBookBtn:hover {
    cursor: pointer;
}

.addBtnAnimation {
    transform: rotate(-45deg);
}

.lightThemeBtn {
    background-color: var(--light-bg-color3);
}

.darkThemeBtn {
    background-color: var(--dark-bg-color3);
    color: whitesmoke;
    font-weight: 700;
}

#main {
    box-shadow: inset 0 2px 10px rgb(0, 0, 0, 0.3);
    display: flex; 
}

#cardTable {
    padding: 3rem 4rem;
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(auto-fill, 16.25rem);
    grid-template-columns: repeat(auto-fill, 25rem);
}

.sideBar {
    transition: opacity 1s linear;
    display: block;
}

.hideSideBar {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}

.sideBarLightTheme {
    background-color: var(--light-bg-color2);
}

.sideBarDarkTheme {
    background-color: #404040;
}


.bookCard {
    width: 20rem;
    height: 10rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1.5rem 1fr 1fr;
    justify-items: start;
}

.bookCard > h2 {
    margin: 0;
}

.bookCard > :nth-child(2) {
    margin-top: 0.3rem;
    grid-row: 2 / 3;
}

.bookCard > :nth-child(3) {
    grid-row: 1 / 3;
    font-size: 0.8rem;
}

.bookCard > :nth-child(4) {
    align-self: end;
    margin:0;
    padding-top: 0.5rem;
    border-top: 1px solid black;
    grid-column: 1 / 3;
    width: 100%;
}

.bookCard:hover {
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.4);
    transform: translateY(-0.6px);
    transform: scale(1.005);
}

.lightThemeCard {
    background-color: var(--light-main-color);
    border: 4px solid var(--light-bg-color3);
}

.darkThemeCard {
    background-color: var(--dark-main-color);
    border: 4px solid var(--dark-bg-color3);
}

footer {
    display: grid;
    justify-items: center;
    padding: auto 0;
}

footer > #credits {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.2rem;
}

#credits > p {
    margin: 0.5rem auto;
}









/* 
Voor het lichte thema (diepblauw):

Diepblauw: #1E90FF (hoofdkleur)
Lichtgrijs: #CCCCCC
Hemelsblauw: #87CEEB
Zilver: #C0C0C0
Turquoise: #40E0D0
Voor het donkere thema (diep paars):

Diep paars: #800080 (hoofdkleur)
Donkergrijs: #505050
Magenta: #FF00FF
Zilvergrijs: #848482
Indigo: #4B0082
*/